body {
  text-align: center;
  background-color: rgba(248, 226, 229, 0.514);
  /* background-image: url(Hand-painted.jpg); */
  background-size: cover;
  height: 100vh;
  padding: 7%;
  box-sizing: border-box;
}
h1 {
  margin-top: 0;
  color: rgb(231, 189, 1);
}
.App {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5%;
  min-width: fit-content;
  min-height: fit-content;
  box-sizing: border-box;
  height: 590px;
}
.button {
  border: none;
  padding: 10px;
  width: 150px;
  text-decoration: none;
  color: #80beaf;
  background-color: white;
  border: 1px solid #80beaf;
  margin: 10px;
  font-weight: 700;
}

/* card for displaying contact */

.contact-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.contact-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 0 25px;
  align-items: center;
  width: 280px;
  margin: 25px 20px;
  height: 280px;
  border: 1.5px solid rgb(149, 201, 225);
  color: rgb(85, 155, 187);
  font-size: 19px;
}
.card-title {
  border-bottom: inherit;
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 10px 0;
  background-color: rgba(149, 201, 225, 0.5);
  margin: 0;
  font-weight: 700;
}
h4,
p {
  margin: 4px 0;
}
.card-text {
  color: rgb(127, 132, 134);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 200px;
}
.buttons {
  display: flex;
  flex-flow: row nowrap;
}
.edit-button {
  border: none;
  padding: 10px;
  text-decoration: none;
  border: 1.5px solid rgb(149, 201, 225);
  color: rgb(85, 155, 187);
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  width: 95px;
  margin: 0 5px;
}

/* card for adding contact */

.add-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 0 25px;
  align-items: center;
  width: 280px;
  margin: 25px auto;
  height: 280px;
  border: 1.5px solid rgb(247, 205, 178);
  color: #ef9b6c;
  font-size: 19px;
}
.card-title-add {
  border-bottom: inherit;
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 10px 0;
  background-color: rgba(254, 228, 167, 0.5);
  margin: 0;
  font-weight: 700;
}
.add-card [type="text"] {
  width: 70%;
  border: 1px solid rgb(175, 175, 175);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3px;
}
.add-button {
  border: none;
  padding: 10px;
  width: 150px;
  text-decoration: none;
  border: inherit;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
}
